<a href="https://colab.research.google.com/github/MerveSim/IAE_DATA4AUDITORS/blob/main/IAE_METZ_TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#introduction à PYTHON

print('Helo World! IAE METZ DATA 4 Auditors')

Helo World! IAE METZ DATA 4 Auditors

#simple examples
## sous titres
### sous sous titres
nous allons voir les bases de PYTHON

In [ ]:
# on va définir des variables
prenom = 'Matt' #est du texte c'est donc un STRING
Salaire_de_stage= 1711 #INTEGER c'est un ENTIER NATUREL
Salaire_net = 1680.95 # FLOAT = chiffre à virgule

In [ ]:
print(f"Je m'appelle {prenom} et je gagnerai {Salaire_de_stage}")

Je m'appelle Matt et je gagnerai 1711

In [ ]:
# ARITHMETIC +++

debit1 = 157000
debit2 = 1711
Credit = 157000

In [ ]:
debit1+debit2

158711

In [ ]:
a= debit1
b= debit2

In [ ]:
debit1, debit2
print(f"SUM : {debit1+debit2}, DELTA : {a-b}, Produit: {a*b}, division: {a/b}")

SUM : 158711, DELTA : 155289, Produit: 268627000, division: 91.75920514319111

In [ ]:
print(f"Diviion Integer: {a//b}")

Diviion Integer: 91

In [ ]:
# LIST (et LISTE en FR)
banks=["BDL","BGL","BNP", "BIL"]
banks[2]

'BNP'

In [ ]:
# DICTIONNAIRE
# Non-ordonné et PAIRES-CLE
valorisation= {"nom": "Nike", "actif": 37, "passif": 34}

In [ ]:
print(f"La valorisation de {valorisation['nom']} est avec un actif ")

La valorisation de Nike

# Exemples pour les auditeurs

Etude de cas pour l'audit, de ma société.

In [ ]:
# Cellule des variables
revenus = 100000
depenses = 75000
taux_imposition_francais= 0.27
taux_imposition_luxembourgeois = 0.17
taux_imposition_irelande = 0.125

In [ ]:
# Cellule des calculs
benefice = revenus - depenses
impot_en_france = benefice * taux_imposition_francais
impot_au_lux = taux_imposition_luxembourgeois * benefice
impot_en_ire = taux_imposition_irelande * benefice
benefice_net_fr = benefice - impot_en_france

In [ ]:
#Cellule des checks/prints : calcul en direct
print("impot à payer en France", taux_imposition_francais * benefice, "$")

impot à payer en France 6750.0 $

In [ ]:
#Cellule des checks/prints : calcul préparé en amont
print("impot à payer en France", impot_en_france, "€")

impot à payer en France 6750.0 €

In [ ]:
# Comparaison entre ireland , luxembourg
print("on compare au Luxembourg", taux_imposition_luxembourgeois * benefice, "€", "vs en ireland", taux_imposition_irelande * benefice , "€")

on compare au Luxembourg 4250.0 € vs en ireland 3125.0 €

In [ ]:
impot_en_france - taux_imposition_luxembourgeois * benefice

2500.0

In [ ]:
impot_en_france - impot_au_lux

2500.0

# Structures de Contrôles

In [ ]:
# CONDITIONS (if, elif, else)
if benefice_net_fr >0:
  print("L'entreprise réalise un bénéfice net. Un bénéf de", benefice_net_fr, "€")
elif benefice_net_fr==0:
  print("L'entreprise est à l'équilibre")
else:
  print("L'entreprise réalise une perte nette")

L'entreprise réalise un bénéfice net. Un bénéf de 18250.0 €

IMPORTATION DES BIBLIOTHEQUES

Les packages se différencient en 2 grandes catégories:
- ceux outils : contenant des fonctions
- ceux de données : contenant des données/valeurs

In [1]:
# le package d'outils le plus répandu en python est PANDAS ( il y a aussi POLARS)
import pandas as pd

In [2]:
# le package "données" le plus répandu en Python x FINANCE est ... YAHOO! Finance
import yfinance as yf

In [3]:
# BLOCK : IMPORTATION DES PACKAGES
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
# dans les packages "outils" vous pouvez SOUS SELECTIONNER LE CHAPITRE

In [6]:
# BLOCK : VARIABLES
# pour une comparaison d'indices selon les pays
france_symbol = 'EWQ' #iShares MSCI France ETF
ireland_symbol = 'EWK' # iShares MSCI Ireland ETF
luxembourg_symbol = 'SPY' # S&P 500 son ETF

In [7]:
# BLOCK : TIME FRAMD
start_date = '2010-01-01'
end_date = '2025-01-01'

In [15]:
# telechargement des données historiques de YFINANCE pour chaque pays
france_data = yf.download(france_symbol, start=start_date, end=end_date)
ireland_data = yf.download(ireland_symbol, start=start_date, end=end_date)
lux_data = yf.download(luxembourg_symbol, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
print(france_data)

Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787550  17.827417  17.641368  17.641368   97400
2010-01-05  17.741041  17.867287  17.674595  17.847354  164100
2010-01-06  17.834061  17.840705  17.687880  17.734392  117300
2010-01-07  17.754322  17.787546  17.634721  17.648009   87500
2010-01-08  18.000174  18.006818  17.760968  17.787547  155400
...               ...        ...        ...        ...     ...
2024-12-24  35.970001  36.009998  35.619999  35.730000  187100
2024-12-26  36.119999  36.200001  35.939999  35.959999  216600
2024-12-27  36.060001  36.139999  35.900002  35.959999  758900
2024-12-30  35.810001  35.910000  35.650002  35.900002  361400
2024-12-31  35.880001  36.169998  35.799999  36.169998  401800

[3774 rows x 5 columns]

In [11]:
# BLOCK : ANALYSE DES DATAFRAME
# il y a des jours fériés donc il y a des valeurs nulles
france_data.isnull().sum()
# DATA_FRAME . FUNCTION_NAME()

Price   Ticker
Close   EWQ       0
High    EWQ       0
Low     EWQ       0
Open    EWQ       0
Volume  EWQ       0
dtype: int64

In [17]:
#calcul des rdt quotidiens pour chacun des fonds
lux_return = lux_data.pct_change().dropna()
ireland_return=ireland_data.pct_change().dropna()
france_return=france_data.pct_change().dropna()

In [18]:
# calcul de la rentabilité cumulative des fonds sur une période
lux_cum_return = (1 + lux_return).cumprod()
ireland_cum_return = (1 + ireland_return).cumprod()
france_cum_return = (1 + france_return).cumprod()

In [19]:
# BLOCK : GRAPHIQUES
# présentation à des investisseurs des rdt via un dataframe
print(lux_data.head())
print(ireland_data.head())
print(france_data.head())

Price           Close       High        Low       Open     Volume
Ticker            SPY        SPY        SPY        SPY        SPY
Date
2010-01-04  86.026436  86.071979  84.644912  85.297721  118944600
2010-01-05  86.254173  86.292130  85.662092  85.973318  111579900
2010-01-06  86.314919  86.527460  86.102377  86.170692  116074400
2010-01-07  86.679253  86.785523  85.912581  86.155486  131091100
2010-01-08  86.967743  87.005699  86.276984  86.451569  126402800
Price          Close      High       Low      Open  Volume
Ticker           EWK       EWK       EWK       EWK     EWK
Date
2010-01-04  8.644099  8.729102  8.572174  8.572174  329400
2010-01-05  8.748718  8.781412  8.683331  8.729102  451600
2010-01-06  8.801028  8.801028  8.689871  8.689871   71800
2010-01-07  8.742181  8.761797  8.696410  8.742181   46000
2010-01-08  8.781411  8.801027  8.696409  8.696409  391700
Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787550  17.827417  17.641368  17.641368   97400
2010-01-05  17.741041  17.867287  17.674595  17.847354  164100
2010-01-06  17.834061  17.840705  17.687880  17.734392  117300
2010-01-07  17.754322  17.787546  17.634721  17.648009   87500
2010-01-08  18.000174  18.006818  17.760968  17.787547  155400